{
  "presets":[["@babel/env", {
    "module": false
    }]
  ],
  "plugins": [
    "@babel/transform-arrow-functions",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/transform-runtime",
    "add-module-exports"
  ]
}
